<!DOCTYPE html>
<html>
    <head>
        <!-- Alpine Plugins -->
        <script
                defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"
        ></script>
        <link rel="preconnect" href="https://fonts.bunny.net" />
        <link
                href="https://fonts.bunny.net/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
                rel="stylesheet"
        />
        <!-- Alpine Core -->
        <script
                defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>
        <meta charset="UTF-8">
        <title>{% block title %}Medical Forum{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
